body {
  font-family: 'Noto Sans JP', sans-serif;
}
header {
  width: 100%;
}
div.title_sec {
  margin: 50px;
}
h1{
  text-align:center;
}
.title_sec img {
  width:375px;
  height:auto;
}
.link_list {
  margin: 0;
  padding: 0;
}
.link_list ul {
  width: 375px;
  margin:0 auto;
  padding:0;
}
.link_button{
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left:60px;
}
.link_button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:60px;
  height:100%;
  margin:0;
  padding:0;
  background-color:#c0c0c0;
}
.link_button a{
  font-size: 14pt;
  color: #333333;
  display: block;
  text-decoration:none;
  box-sizing: border-box;
  border:1px solid #c0c0c0;
  padding:15px;
  margin:10px 0;
}
.link_button a:hover{
  background-color: #EEEEEE;
}
section {
  width:375px;
  margin: 0 auto;
}
h2 {
  border-left: 10px #9CD9DB solid;
  font-size: 18pt;
  color: #696969;
  padding: 3px 3px 3px 10px;
}
section p {
  font-size: 12pt;
  line-height: 2;
  color: #333333;
}
.profile li {
  list-style-type: circle;
  padding-top:10px;
}

footer {
  text-align: center;
  border-top: 1px solid #c0c0c0;
}
footer p {
  font-size:12pt;
  color: #696969;
}
