body {
  font-family: 'Noto Sans JP', sans-serif;
}
header {
  width: 100%;
}
div.title_sec {
  margin:0 auto;
  margin: 50px;
  text-align:center;
}
.title_sec img {
  width:70%;
  height:auto;
}
.title_sec p{
  font-size: 12pt;
  color: #333;
  line-height: 200%;
}
h1 {
  font-family: 'Caveat', 'Noto Sans JP', sans-serif;
  font-size:48pt;
  color: #333;
  margin-top: 0;
  padding: 0;
}
.link_list {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.link_list ul {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
.link_button{
  display: block;
  width: 25%;
  box-sizing: border-box;
  margin:10px;
  float: left;
}
.link_button li {
  flex: 1 0 auto;
}
.link_button a{
  font-size: 14pt;
  text-align: center;
  color: #FFFFFF;
  display: block;
  text-decoration:none;
  box-sizing: border-box;
  width: 100%;
  padding:15px;
  background-color: #808080;
  border-radius: 8px;
}
.link_button a:hover{
  background-color: #c0c0c0;
}
.contents {
  box-sizing: border-box;
  padding:30px;
  width: 100%;
}
.section {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
footer {
  text-align: center;
  border-top: 1px solid #c0c0c0;
}
footer p {
  font-size:12pt;
  color: #696969;
}
